# Step 4 - Remove Features That Cannot Be Used in Models

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
sns.set() # Setting seaborn as default style even if use only matplotlib
pd.set_option('display.max_rows', None)

In [15]:
df_flights = pd.read_csv(r'..\2_data\flights_random_sample.csv', sep=',')
df_test_features = pd.read_csv(r'..\2_data\test_features.csv', sep=',')
df_test_features.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,1577865600000,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,1577865600000,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363
2,1577865600000,WN,WN,WN,4598,WN,N7885A,4598,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333
3,1577865600000,WN,WN,WN,4761,WN,N551WN,4761,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",1340,1455,N,75,1,333
4,1577865600000,WN,WN,WN,5162,WN,N968WN,5162,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",915,1035,N,80,1,333

In [16]:
test_feat = list(df_test_features.columns)
test_feat

['fl_date',
 'mkt_unique_carrier',
 'branded_code_share',
 'mkt_carrier',
 'mkt_carrier_fl_num',
 'op_unique_carrier',
 'tail_num',
 'op_carrier_fl_num',
 'origin_airport_id',
 'origin',
 'origin_city_name',
 'dest_airport_id',
 'dest',
 'dest_city_name',
 'crs_dep_time',
 'crs_arr_time',
 'dup',
 'crs_elapsed_time',
 'flights',
 'distance']

In [17]:
df_clean = df_flights[test_feat]
df_clean.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2018-01-01,WN,WN,WN,5431,WN,N291WN,5431,12889,LAS,"Las Vegas, NV",13851,OKC,"Oklahoma City, OK",1930,2350,N,140,1,986
1,2018-01-01,WN,WN,WN,989,WN,N287WN,989,12889,LAS,"Las Vegas, NV",13871,OMA,"Omaha, NE",2125,155,N,150,1,1099
2,2018-01-01,WN,WN,WN,1664,WN,N751SW,1664,12889,LAS,"Las Vegas, NV",13871,OMA,"Omaha, NE",650,1120,N,150,1,1099
3,2018-01-01,WN,WN,WN,1106,WN,N704SW,1106,12889,LAS,"Las Vegas, NV",13891,ONT,"Ontario, CA",735,830,N,55,1,197
4,2018-01-01,WN,WN,WN,1559,WN,N423WN,1559,12889,LAS,"Las Vegas, NV",13891,ONT,"Ontario, CA",1740,1835,N,55,1,197

# Step 5 - Detecting / Treating Missing Values

In [18]:
df_clean.isnull().sum()

fl_date                 0
mkt_unique_carrier      0
branded_code_share      0
mkt_carrier             0
mkt_carrier_fl_num      0
op_unique_carrier       0
tail_num              284
op_carrier_fl_num       0
origin_airport_id       0
origin                  0
origin_city_name        0
dest_airport_id         0
dest                    0
dest_city_name          0
crs_dep_time            0
crs_arr_time            0
dup                     0
crs_elapsed_time        0
flights                 0
distance                0
dtype: int64

In [19]:
# percentage of nulls in each column

100*(df_clean.isnull().sum()/len(df_clean))

fl_date               0.000000
mkt_unique_carrier    0.000000
branded_code_share    0.000000
mkt_carrier           0.000000
mkt_carrier_fl_num    0.000000
op_unique_carrier     0.000000
tail_num              0.281194
op_carrier_fl_num     0.000000
origin_airport_id     0.000000
origin                0.000000
origin_city_name      0.000000
dest_airport_id       0.000000
dest                  0.000000
dest_city_name        0.000000
crs_dep_time          0.000000
crs_arr_time          0.000000
dup                   0.000000
crs_elapsed_time      0.000000
flights               0.000000
distance              0.000000
dtype: float64

In [20]:
df_clean = df_clean.dropna()
df_clean.isnull().sum()

fl_date               0
mkt_unique_carrier    0
branded_code_share    0
mkt_carrier           0
mkt_carrier_fl_num    0
op_unique_carrier     0
tail_num              0
op_carrier_fl_num     0
origin_airport_id     0
origin                0
origin_city_name      0
dest_airport_id       0
dest                  0
dest_city_name        0
crs_dep_time          0
crs_arr_time          0
dup                   0
crs_elapsed_time      0
flights               0
distance              0
dtype: int64

# Step 6 - Detecting / Treating Outliers

See if there are any outliers using Z score....figure out why code below doesn't seem to be working

In [23]:
from scipy import stats
import numpy as np

#Finding Z Score on Column
stats.zscore(df_clean['dep_delay'])

#Turning Absolute
np.abs(stats.zscore(df_flights['dep_delay']))

#view the outliers
df_flights['dep_delay'][(np.abs(stats.zscore(df_flights['dep_delay'])) > 3)]

KeyError: 'dep_delay'

In [ ]:
from scipy import stats
import numpy as np

#Finding Z Score on Column
stats.zscore(df_flights['dep_delay'])

#Turning Absolute
np.abs(stats.zscore(df_flights['dep_delay']))

#view the outliers
df_flights['dep_delay'][(np.abs(stats.zscore(df_flights['dep_delay'])) > 3)]

Series([], Name: dep_delay, dtype: float64)