In [1]:
import os
os.chdir('..')
from src.modules import connect_lhl, test_models

In [2]:
test_conn = connect_lhl.lhl_delay_data('lhl-data-bootcamp.crzjul5qln0e.ca-central-1.rds.amazonaws.com','mid_term_project','lhl_student','lhl_student', 0)
test_conn.connection()
df = test_conn.sample_table('flights','100')

/Users/calebward/LHL_midterm_flight_delay/src/modules/connect_lhl.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_return = sqlio.read_sql_query(query, self.connection())

In [3]:
import pandas as pd
df_flights = pd.read_csv('data/baseline_data.csv', sep=',')
df_flights = df_flights.drop('Unnamed: 0', axis=1)
df_flights.head()

,mkt_carrier_fl_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,crs_arr_time,crs_elapsed_time,distance,arr_delay,year,month,day
0,5431,5431,12889,13851,1930,2350,140,986,19.0,2018,1,1
1,989,989,12889,13871,2125,155,150,1099,46.0,2018,1,1
2,1664,1664,12889,13871,650,1120,150,1099,-9.0,2018,1,1
3,1106,1106,12889,13891,735,830,55,197,-3.0,2018,1,1
4,1559,1559,12889,13891,1740,1835,55,197,37.0,2018,1,1

In [8]:
X = df_flights.drop('arr_delay',axis=1)
y = df_flights['arr_delay']
run_models = test_models.test_models(X, target = y, degree=3)
run_models.create_models()
model_output = run_models.run_models()

In [9]:
model_output.sort_values('R2', ascending = False)

                     MAE          RMSE            R2         ADJR2
voting_r    2.453785e+01  4.956567e+01  2.187741e-02  2.148248e-02
g_boost     2.422671e+01  4.963058e+01  1.931383e-02  1.891786e-02
r_forest    2.442480e+01  4.987705e+01  9.549631e-03  9.149723e-03
ridge       2.442244e+01  4.990195e+01  8.560237e-03  8.159931e-03
linear      2.442243e+01  4.990196e+01  8.559989e-03  8.159682e-03
lasso       2.442350e+01  4.991790e+01  7.926559e-03  7.525996e-03
sgd         2.424783e+01  4.992678e+01  7.573408e-03  7.172703e-03
xgb         2.459579e+01  5.022283e+01 -4.231041e-03 -4.636513e-03
svr         2.142883e+01  5.115203e+01 -4.173453e-02 -4.215514e-02
d_tree      3.490863e+01  7.155882e+01 -1.038720e+00 -1.039543e+00
polynomial  1.123219e+09  1.083557e+11 -4.674493e+18 -4.676381e+18