In [1]:
import os
os.chdir('..')
from src.modules import connect_lhl, test_models

In [2]:
test_conn = connect_lhl.lhl_delay_data('lhl-data-bootcamp.crzjul5qln0e.ca-central-1.rds.amazonaws.com','mid_term_project','lhl_student','lhl_student', 0)
test_conn.connection()
df = test_conn.sample_table('flights','100')

/Users/calebward/LHL_midterm_flight_delay/src/modules/connect_lhl.py:51: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_return = sqlio.read_sql_query(query, self.connection())

In [3]:
import pandas as pd
df_flights = pd.read_csv('data/baseline_data.csv', sep=',')
df_flights = df_flights.drop('Unnamed: 0', axis=1)
df_flights.head()

,mkt_carrier_fl_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,crs_arr_time,crs_elapsed_time,distance,arr_delay,year,month,day
0,5431,5431,12889,13851,1930,2350,140,986,19.0,2018,1,1
1,989,989,12889,13871,2125,155,150,1099,46.0,2018,1,1
2,1664,1664,12889,13871,650,1120,150,1099,-9.0,2018,1,1
3,1106,1106,12889,13891,735,830,55,197,-3.0,2018,1,1
4,1559,1559,12889,13891,1740,1835,55,197,37.0,2018,1,1

In [4]:
X = df_flights.drop('arr_delay',axis=1)
y = df_flights['arr_delay']
run_models = test_models.test_models(X, target = y, model_names=['ridge','lasso'], degree=3)
run_models.create_models()
model_output = run_models.run_models()

In [6]:
model_output

,MAE_test,MAE_train,RMSE_test,RMSE_train,R2_test,R2_train,ADJR2_test,ADJR2_train
ridge,24.326935,24.426811,48.137717,48.297188,0.009191,0.009651,0.008791,0.009251
lasso,24.329158,24.437476,48.152903,48.322888,0.008566,0.008597,0.008166,0.008196