# Load Feature Engineered Data

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
sns.set() # Setting seaborn as default style even if use only matplotlib
pd.set_option('display.max_rows', None)

In [ ]:
import pickle

with open(r'..\data\flight_data_engineered.pickle','rb') as flight_data_file:
     df_flights = pickle.load(flight_data_file)

In [ ]:
df_flights = df_flights.reset_index(drop=True)

In [ ]:
df_flights.head()

# Check for Missing Values

In [ ]:
sum(df_flights.isnull().sum())

# Fix DataTypes

In [ ]:
df_flights.info()

In [ ]:
# fix datatypes for categorical data

df_flights['mkt_carrier_fl_num'] = df_flights['mkt_carrier_fl_num'].astype(str)
df_flights['op_carrier_fl_num'] = df_flights['op_carrier_fl_num'].astype(str)
df_flights['origin_airport_id'] = df_flights['origin_airport_id'].astype(str)
df_flights['dest_airport_id'] = df_flights['dest_airport_id'].astype(str)

In [ ]:
# df_flights.drop(columns='fl_date', inplace = True)
# df_flights.drop(columns='dup', inplace = True)
# df_flights.drop(columns='flights', inplace = True)

In [ ]:
sum(df_flights.isnull().sum())

# Detect / Treat Outliers

In [ ]:
df_flights.describe()

In [ ]:
df_flights.head()

In [ ]:
def uni_analyis_continuous(df, feature, feature_title):
    
    import matplotlib.pyplot as plt
    import matplotlib.transforms as mtrans

    fig, axes = plt.subplots(1,2, sharex=False, figsize=(10,5))
    fig.suptitle(f'Univariate Analysis - {feature_title}')

    sns.boxplot(ax=axes[0], data=df[feature])
    axes[0].set_title(f'{feature_title} Boxplot')
    sns.histplot(ax=axes[1], data=df[feature])
    axes[1].set_title(f'{feature_title} Histogram')

    Minimum = min(df[feature])
    Median = df[feature].median()
    Mean = df[feature].mean()
    Maximum = max(df[feature])
    
    trans = mtrans.blended_transform_factory(fig.transFigure, mtrans.IdentityTransform())

    txt = fig.text(0.5,10, f'Minimum : {Minimum}, Median : {Median}, Mean : {Mean}, Maximum : {Maximum}', ha='center', va='center_baseline')
    txt.set_transform(trans)

In [ ]:
for feat in ['crs_elapsed_time','distance','arr_delay']:
    uni_analyis_continuous(df_flights, feature=feat, feature_title=feat)

In [ ]:
# check if the outliers seem like mistakes, or if they could be possible. If mistakes, then drop, otherwise keep.

In [ ]:
from scipy import stats
import numpy as np

#Finding Z Score on Column
stats.zscore(df_flights['crs_elapsed_time'])

# Turning Absolute
np.abs(stats.zscore(df_flights['crs_elapsed_time']))

# view the outliers
outliers = df_flights['crs_elapsed_time'][(np.abs(stats.zscore(df_flights['crs_elapsed_time'])) > 3)]
outliers.max()
# # drop outliers
# df_flights.drop(outliers.index, inplace=True)

In [ ]:
# 11 hour flights are possible - so keep

In [ ]:
# df_flights.shape

In [ ]:
from scipy import stats
import numpy as np

#Finding Z Score on Column
stats.zscore(df_flights['distance'])

# Turning Absolute
np.abs(stats.zscore(df_flights['distance']))

# view the outliers
outliers = df_flights['distance'][(np.abs(stats.zscore(df_flights['distance'])) > 3)]
outliers.max()
# # # drop outliers
# df_flights.drop(outliers.index, inplace=True)

In [ ]:
# 4983 mile flights are possible, so keep outliers

In [ ]:
df_flights.shape

In [ ]:
from scipy import stats
import numpy as np

#Finding Z Score on Column
stats.zscore(df_flights['arr_delay'])

# Turning Absolute
np.abs(stats.zscore(df_flights['arr_delay']))

# view the outliers
outliers = df_flights['arr_delay'][(np.abs(stats.zscore(df_flights['arr_delay'])) > 3)]
outliers.max()
# # drop outliers
# df_flights.drop(outliers.index, inplace=True)

In [ ]:
# a 25 hour delay seems possible, so keep

In [ ]:
df_flights = df_flights.reset_index(drop=True)

In [ ]:
# do log transformation of 'crs_elapsed_time','distance','arr_delay'

# df_flights['crs_elapsed_time_log'] = np.log(df_flights['crs_elapsed_time'])
# df_flights['distance_log'] = np.log(df_flights['distance'])
# df_flights['arr_delay_log'] = np.log(df_flights['arr_delay'])

In [ ]:
# df_flights.drop('crs_elapsed_time', axis = 1, inplace = True)
# df_flights.drop('distance', axis = 1, inplace = True)
# df_flights.drop('arr_delay', axis = 1, inplace = True)

In [ ]:
sum(df_flights.isnull().sum())

In [ ]:
# for feat in ['crs_elapsed_time_log','distance_log','arr_delay']:
#     uni_analyis_continuous(df_flights, feature=feat, feature_title=feat)

# Transform Categorical Variables into Numeric Data

In [ ]:
df_flights.info()

In [ ]:
# <class 'pandas.core.frame.DataFrame'>
# Int64Index: 93123 entries, 0 to 100997
# Data columns (total 36 columns):
#  #   Column                Non-Null Count  Dtype         
# ---  ------                --------------  -----         
#  0   mkt_unique_carrier    93123 non-null  object        
#  1   branded_code_share    93123 non-null  object        
#  2   mkt_carrier           93123 non-null  object        
#  3   mkt_carrier_fl_num    93123 non-null  object        
#  4   op_unique_carrier     93123 non-null  object        
#  5   tail_num              93123 non-null  object        
#  6   op_carrier_fl_num     93123 non-null  object        
#  7   origin_airport_id     93123 non-null  object        
#  8   origin                93123 non-null  object        
#  9   origin_city_name      93123 non-null  object        
#  10  dest_airport_id       93123 non-null  object        
#  11  dest                  93123 non-null  object        
#  12  dest_city_name        93123 non-null  object        
#  13  crs_dep_time          93123 non-null  datetime64[ns]
#  14  crs_arr_time          93123 non-null  datetime64[ns]
#  15  year                  93123 non-null  int64         
#  16  month                 93123 non-null  int64         
#  17  day                   93123 non-null  int64         
#  18  mean_arr_delay        93123 non-null  float64       
#  19  median_arr_delay      93123 non-null  float64       
#  20  season                93123 non-null  object        
#  21  day_of_week           93123 non-null  object        
#  22  is_weekend            93123 non-null  bool          
#  23  is_holiday            93123 non-null  bool          
#  24  crs_dep_time_hour     93123 non-null  float64       
#  25  crs_dep_time_of_day   93123 non-null  category      
#  26  crs_arr_time_hour     93123 non-null  float64       
#  27  crs_arr_time_of_day   93123 non-null  category      
#  28  origin_state          93123 non-null  object        
#  29  dest_state            93123 non-null  object        
#  30  origin_region         93123 non-null  object        
#  31  dest_region           93123 non-null  object        
#  32  haul                  93123 non-null  category      
#  33  crs_elapsed_time_log  93123 non-null  float64       
#  34  distance_log          93123 non-null  float64       
#  35  arr_delay_log         33133 non-null  float64       
# dtypes: bool(2), category(3), datetime64[ns](2), float64(7), int64(3), object(19)
# memory usage: 25.2+ MB

In [ ]:
# df_flights = df_flights.drop(columns=['mkt_carrier','mkt_carrier_fl_num','tail_num','op_carrier_fl_num','origin_airport_id','origin','origin_city_name','dest_airport_id','dest','dest_city_name','crs_dep_time','crs_arr_time'],axis=1)

In [ ]:
# mkt_unique_carrier unique values: 10
# branded_code_share unique values: 15
# mkt_carrier unique values: 10             drop
# mkt_carrier_fl_num unique values: 6770    drop
# op_unique_carrier unique values: 27
# tail_num unique values: 6150              drop
# op_carrier_fl_num unique values: 6772     drop
# origin_airport_id unique values: 368      drop
# origin unique values: 368                 drop
# origin_city_name unique values: 361       drop
# dest_airport_id unique values: 370        drop
# dest unique values: 370                   drop
# dest_city_name unique values: 363         drop
# cancelled unique values: 1                drop
# diverted unique values: 1                 drop
# dup unique values: 1                      drop

In [ ]:
df_flights.info()

In [ ]:
#  0   mkt_unique_carrier    93123 non-null  object  -dummy
#  1   branded_code_share    93123 non-null  object  -dummy
#  2   op_unique_carrier     93123 non-null  object  -dummy
#  3   arr_delay             93123 non-null  float64 
#  4   year                  93123 non-null  int64   
#  5   month                 93123 non-null  int64   
#  6   day                   93123 non-null  int64   
#  7   mean_arr_delay        93123 non-null  float64 
#  8   median_arr_delay      93123 non-null  float64 
#  9   season                93123 non-null  object  -dummy
#  10  day_of_week           93123 non-null  object  -dummy
#  11  is_weekend            93123 non-null  bool    -map 0 to false, 1 to true
#  12  is_holiday            93123 non-null  bool    -map 0 to false, 1 to true
#  13  crs_dep_time_hour     93123 non-null  float64 
#  14  crs_dep_time_of_day   93123 non-null  category-dummy
#  15  crs_arr_time_hour     93123 non-null  float64 
#  16  crs_arr_time_of_day   93123 non-null  category-dummy
#  17  origin_state          93123 non-null  object  -dummy
#  18  dest_state            93123 non-null  object  -dummy
#  19  origin_region         93123 non-null  object  -dummy
#  20  dest_region           93123 non-null  object  -dummy
#  21  haul                  93123 non-null  category-dummy
#  22  crs_elapsed_time_log  93123 non-null  float64 
#  23  distance_log          93123 non-null  float64

In [ ]:
sum(df_flights.isnull().sum())

In [ ]:
# transform nominal variables into Dummy Variables

cat_feats = df_flights.dtypes[(df_flights.dtypes == 'object') | (df_flights.dtypes == 'category') ].index.tolist()
df_dummy = pd.get_dummies(df_flights[cat_feats])
df_dummy.head()

In [ ]:
sum(df_dummy.isnull().sum())

In [ ]:
df_dummy.shape

In [ ]:
# Map values onto numbers for bool variables

df_flights.replace({
    "is_weekend" : {True : 1, False : 0}, 
    "is_holiday" : {True : 1, False : 0},
    }, inplace=True)

In [ ]:
# drop the nominal variables from the original dataset

numeric_df = df_flights.drop(columns=cat_feats)

In [ ]:
numeric_df.shape

In [ ]:
# scale the numeric data
#use MinMaxScaler to scale data into a given range ((0,1) by default)

from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_data = pd.DataFrame(scaler.fit_transform(numeric_df), columns=numeric_df.columns)
scaled_data.head()

In [ ]:
scaled_data.shape

In [ ]:
scaled_data['year'].value_counts()

In [ ]:
scaled_data['month'].value_counts()

In [ ]:
len(scaled_data['day'].value_counts())

In [ ]:
sum(scaled_data.isnull().sum())

In [ ]:
transformed_df = scaled_data.merge(df_dummy, how='outer', left_index = True, right_index = True)
transformed_df.head(50)
transformed_df.shape

In [ ]:
# merge the scaled and dummy variables into one dataset

transformed_df = pd.concat([scaled_data, df_dummy], axis=1)
transformed_df.head(50)

In [ ]:
transformed_df.shape

In [ ]:
transformed_df.isnull().sum()

In [ ]:
# make a pickle of the feature engineered data
import pickle

#Do Some Feature Engineering
feature_engineered__trans_data = transformed_df

#Dump it(save it in binary format)
with open(r'..\data\flight_data_engineered_trans.pickle','wb') as flight_data_file:
     pickle.dump(feature_engineered__trans_data, flight_data_file)

# Iteration 2

### Load Feature Engineered Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
sns.set() # Setting seaborn as default style even if use only matplotlib
pd.set_option('display.max_rows', None)

In [2]:
import pickle

with open(r'..\data\flight_data_engineered2.pickle','rb') as flight_data_file:
     df_flights = pickle.load(flight_data_file)

In [3]:
df_flights = df_flights.reset_index(drop=True)

In [4]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98363 entries, 0 to 98362
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   op_unique_carrier          98363 non-null  object
 1   crs_elapsed_time           98363 non-null  int64
 2   arr_delay                  98363 non-null  float64
 3   mean_arr_delay             98363 non-null  float64
 4   season                     98363 non-null  object
 5   day_of_week                98363 non-null  object
 6   is_weekend                 98363 non-null  bool
 7   is_holiday                 98363 non-null  bool
 8   crs_dep_time_of_day        98363 non-null  category
 9   crs_arr_time_of_day        98363 non-null  category
 10  origin_region              98363 non-null  object
 11  dest_region                98363 non-null  object
 12  haul                       98363 non-null  category
 13  mean_origin_airport_delay  98363 non-null  float64
 14  mean_dest_airport_delay    98363 non-null  float64
dtypes: bool(2), category(3), float64(4), int64(1), object(5)
memory usage: 8.0+ MB

### Check for Missing Values

In [5]:
sum(df_flights.isnull().sum())

0

### Fix DataTypes

In [6]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98363 entries, 0 to 98362
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   op_unique_carrier          98363 non-null  object
 1   crs_elapsed_time           98363 non-null  int64
 2   arr_delay                  98363 non-null  float64
 3   mean_arr_delay             98363 non-null  float64
 4   season                     98363 non-null  object
 5   day_of_week                98363 non-null  object
 6   is_weekend                 98363 non-null  bool
 7   is_holiday                 98363 non-null  bool
 8   crs_dep_time_of_day        98363 non-null  category
 9   crs_arr_time_of_day        98363 non-null  category
 10  origin_region              98363 non-null  object
 11  dest_region                98363 non-null  object
 12  haul                       98363 non-null  category
 13  mean_origin_airport_delay  98363 non-null  float64
 14  mean_dest_airport_delay    98363 non-null  float64
dtypes: bool(2), category(3), float64(4), int64(1), object(5)
memory usage: 8.0+ MB

In [7]:
# all good

### Transform Categorical Variables into Numeric Data

In [9]:
# transform nominal variables into Dummy Variables

cat_feats = df_flights.dtypes[(df_flights.dtypes == 'object') | (df_flights.dtypes == 'category') ].index.tolist()
df_dummy = pd.get_dummies(df_flights[cat_feats])
df_dummy.head()

,op_unique_carrier_9E,op_unique_carrier_9K,op_unique_carrier_AA,op_unique_carrier_AS,op_unique_carrier_AX,op_unique_carrier_B6,op_unique_carrier_C5,op_unique_carrier_CP,op_unique_carrier_DL,op_unique_carrier_EM,...,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,haul_short,haul_medium,haul_long
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,1,0,0

In [10]:
# Map values onto numbers for bool variables

df_flights.replace({
    "is_weekend" : {True : 1, False : 0}, 
    "is_holiday" : {True : 1, False : 0},
    }, inplace=True)

In [11]:
# drop the nominal variables from the original dataset

numeric_df = df_flights.drop(columns=cat_feats)

In [13]:
# scale the numeric data

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = pd.DataFrame(scaler.fit_transform(numeric_df), columns=numeric_df.columns)
scaled_data.head()

,crs_elapsed_time,arr_delay,mean_arr_delay,is_weekend,is_holiday,mean_origin_airport_delay,mean_dest_airport_delay
0,0.016631,0.281114,-0.968084,-0.604196,6.414322,0.051481,1.330524
1,0.156155,0.837591,-0.968084,-0.604196,6.414322,0.051481,0.269255
2,0.156155,-0.295973,-0.968084,-0.604196,6.414322,0.051481,0.269255
3,-1.169323,-0.172311,-0.968084,-0.604196,6.414322,0.051481,-0.266687
4,-1.169323,0.652099,-0.968084,-0.604196,6.414322,0.051481,-0.266687

In [22]:
# merge the scaled and dummy variables into one dataset

transformed_df = scaled_data.merge(df_dummy, how='outer', left_index = True, right_index = True)
transformed_df.head()

,crs_elapsed_time,arr_delay,mean_arr_delay,is_weekend,is_holiday,mean_origin_airport_delay,mean_dest_airport_delay,op_unique_carrier_9E,op_unique_carrier_9K,op_unique_carrier_AA,...,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,haul_short,haul_medium,haul_long
0,0.016631,0.281114,-0.968084,-0.604196,6.414322,0.051481,1.330524,0,0,0,...,0,1,0,0,0,1,0,0,1,0
1,0.156155,0.837591,-0.968084,-0.604196,6.414322,0.051481,0.269255,0,0,0,...,0,1,1,0,0,0,0,0,1,0
2,0.156155,-0.295973,-0.968084,-0.604196,6.414322,0.051481,0.269255,0,0,0,...,0,1,1,0,0,0,0,0,1,0
3,-1.169323,-0.172311,-0.968084,-0.604196,6.414322,0.051481,-0.266687,0,0,0,...,0,1,0,0,0,0,1,1,0,0
4,-1.169323,0.652099,-0.968084,-0.604196,6.414322,0.051481,-0.266687,0,0,0,...,0,1,0,0,0,0,1,1,0,0

### Make a pickle of the transformed data

In [21]:
import pickle

feature_engineered_trans_data2 = transformed_df

with open(r'..\data\flight_data_engineered_trans2.pickle','wb') as flight_data_file:
      pickle.dump(feature_engineered_trans_data2, flight_data_file)

# Iteration 3

### Load Feature Engineered Data

In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
sns.set() # Setting seaborn as default style even if use only matplotlib
pd.set_option('display.max_rows', None)

In [24]:
import pickle

with open(r'..\data\flight_data_engineered3.pickle','rb') as flight_data_file:
     df_flights = pickle.load(flight_data_file)

In [25]:
df_flights = df_flights.reset_index(drop=True)

In [26]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99023 entries, 0 to 99022
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mean_flight_num_delay  99023 non-null  float64
 1   arr_delay              99023 non-null  float64
dtypes: float64(2)
memory usage: 1.5 MB

### Check for Missing Values

In [27]:
sum(df_flights.isnull().sum())

0

### Fix DataTypes

In [28]:
df_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99023 entries, 0 to 99022
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   mean_flight_num_delay  99023 non-null  float64
 1   arr_delay              99023 non-null  float64
dtypes: float64(2)
memory usage: 1.5 MB

In [ ]:
# all good

### Transform Categorical Variables into Numeric Data

In [30]:
# # transform nominal variables into Dummy Variables

# cat_feats = df_flights.dtypes[(df_flights.dtypes == 'object') | (df_flights.dtypes == 'category') ].index.tolist()
# df_dummy = pd.get_dummies(df_flights[cat_feats])
# df_dummy.head()

In [ ]:
# # Map values onto numbers for bool variables

# df_flights.replace({
#     "is_weekend" : {True : 1, False : 0}, 
#     "is_holiday" : {True : 1, False : 0},
#     }, inplace=True)

In [ ]:
# drop the nominal variables from the original dataset

# numeric_df = df_flights.drop(columns=cat_feats)

In [ ]:
# scale the numeric data

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = pd.DataFrame(scaler.fit_transform(numeric_df), columns=numeric_df.columns)
scaled_data.head()

,crs_elapsed_time,arr_delay,mean_arr_delay,is_weekend,is_holiday,mean_origin_airport_delay,mean_dest_airport_delay
0,0.016631,0.281114,-0.968084,-0.604196,6.414322,0.051481,1.330524
1,0.156155,0.837591,-0.968084,-0.604196,6.414322,0.051481,0.269255
2,0.156155,-0.295973,-0.968084,-0.604196,6.414322,0.051481,0.269255
3,-1.169323,-0.172311,-0.968084,-0.604196,6.414322,0.051481,-0.266687
4,-1.169323,0.652099,-0.968084,-0.604196,6.414322,0.051481,-0.266687

In [ ]:
# merge the scaled and dummy variables into one dataset

transformed_df = scaled_data.merge(df_dummy, how='outer', left_index = True, right_index = True)
transformed_df.head()

,crs_elapsed_time,arr_delay,mean_arr_delay,is_weekend,is_holiday,mean_origin_airport_delay,mean_dest_airport_delay,op_unique_carrier_9E,op_unique_carrier_9K,op_unique_carrier_AA,...,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,haul_short,haul_medium,haul_long
0,0.016631,0.281114,-0.968084,-0.604196,6.414322,0.051481,1.330524,0,0,0,...,0,1,0,0,0,1,0,0,1,0
1,0.156155,0.837591,-0.968084,-0.604196,6.414322,0.051481,0.269255,0,0,0,...,0,1,1,0,0,0,0,0,1,0
2,0.156155,-0.295973,-0.968084,-0.604196,6.414322,0.051481,0.269255,0,0,0,...,0,1,1,0,0,0,0,0,1,0
3,-1.169323,-0.172311,-0.968084,-0.604196,6.414322,0.051481,-0.266687,0,0,0,...,0,1,0,0,0,0,1,1,0,0
4,-1.169323,0.652099,-0.968084,-0.604196,6.414322,0.051481,-0.266687,0,0,0,...,0,1,0,0,0,0,1,1,0,0

### Make a pickle of the transformed data

In [ ]:
import pickle

feature_engineered_trans_data2 = transformed_df

with open(r'..\data\flight_data_engineered_trans2.pickle','wb') as flight_data_file:
      pickle.dump(feature_engineered_trans_data2, flight_data_file)

# Iteration 6

### Load Feature Engineered Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
sns.set() # Setting seaborn as default style even if use only matplotlib
pd.set_option('display.max_rows', None)

In [16]:
import pickle

with open(r'..\data\flight_data_engineered5.pickle','rb') as flight_data_file:
     df_flights_train = pickle.load(flight_data_file)

In [17]:
df_flights_train.head() # drop all these features, use mean_flight_num_delay instead

,op_unique_carrier,op_carrier_fl_num,crs_dep_time_of_day,mean_flight_num_delay,arr_delay
301432,OO,5510,evening,-10.933333,-34.0
66582,AA,2570,midday,32.222222,0.0
49986,WN,623,evening,1.500000,-14.0
358318,WN,1902,midday,-4.200000,10.0
88298,AA,1172,late afternoon,8.631579,19.0

In [18]:
df_flights_train = df_flights_train.reset_index(drop=True)

In [19]:
df_flights_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367483 entries, 0 to 367482
Data columns (total 5 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   op_unique_carrier      367483 non-null  object
 1   op_carrier_fl_num      367483 non-null  object
 2   crs_dep_time_of_day    367483 non-null  object
 3   mean_flight_num_delay  367483 non-null  float64
 4   arr_delay              367483 non-null  float64
dtypes: float64(2), object(3)
memory usage: 14.0+ MB

### Check for Missing Values

In [36]:
sum(df_flights_train.isnull().sum())

0

### Fix DataTypes

In [21]:
df_flights_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367483 entries, 0 to 367482
Data columns (total 5 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   op_unique_carrier      367483 non-null  object
 1   op_carrier_fl_num      367483 non-null  object
 2   crs_dep_time_of_day    367483 non-null  object
 3   mean_flight_num_delay  367483 non-null  float64
 4   arr_delay              367483 non-null  float64
dtypes: float64(2), object(3)
memory usage: 14.0+ MB

In [14]:
# all good

### Transform Categorical Variables into Numeric Data

In [40]:
df_flights_train['crs_dep_time_of_day'].value_counts()

late morning      120350
midday            111271
late afternoon    102800
evening            23227
early morning       9665
nan                  170
Name: crs_dep_time_of_day, dtype: int64

In [27]:
# # transform nominal variables into Dummy Variables

cat_feats = df_flights_train.dtypes[(df_flights_train.dtypes == 'object') | (df_flights_train.dtypes == 'category') ].index.tolist()
df_dummy = pd.get_dummies(df_flights_train[cat_feats])
df_dummy.head()

,op_unique_carrier_9E,op_unique_carrier_9K,op_unique_carrier_AA,op_unique_carrier_AS,op_unique_carrier_AX,op_unique_carrier_B6,op_unique_carrier_C5,op_unique_carrier_CP,op_unique_carrier_DL,op_unique_carrier_EM,...,op_carrier_fl_num_996,op_carrier_fl_num_997,op_carrier_fl_num_998,op_carrier_fl_num_999,crs_dep_time_of_day_early morning,crs_dep_time_of_day_evening,crs_dep_time_of_day_late afternoon,crs_dep_time_of_day_late morning,crs_dep_time_of_day_midday,crs_dep_time_of_day_nan
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [ ]:
# # Map values onto numbers for bool variables

# df_flights.replace({
#     "is_weekend" : {True : 1, False : 0}, 
#     "is_holiday" : {True : 1, False : 0},
#     }, inplace=True)

In [28]:
# drop the nominal variables from the original dataset

numeric_df = df_flights_train.drop(columns=cat_feats)

In [29]:
# scale the numeric data

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = pd.DataFrame(scaler.fit_transform(numeric_df), columns=numeric_df.columns)
scaled_data.head()

   mean_flight_num_delay  arr_delay
0              -0.664788  -0.790335
1               1.075340  -0.110968
2              -0.163448  -0.390707
3              -0.393285   0.088846
4               0.124113   0.268679

In [39]:
df_dummy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367483 entries, 0 to 367482
Columns: 7002 entries, op_unique_carrier_9E to crs_dep_time_of_day_nan
dtypes: uint8(7002)
memory usage: 2.4 GB

In [38]:
scaled_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367483 entries, 0 to 367482
Data columns (total 2 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   mean_flight_num_delay  367483 non-null  float64
 1   arr_delay              367483 non-null  float64
dtypes: float64(2)
memory usage: 5.6 MB

In [30]:
# merge the scaled and dummy variables into one dataset

transformed_df = scaled_data.merge(df_dummy, how='outer', left_index = True, right_index = True)
transformed_df.head()

,mean_flight_num_delay,arr_delay,op_unique_carrier_9E,op_unique_carrier_9K,op_unique_carrier_AA,op_unique_carrier_AS,op_unique_carrier_AX,op_unique_carrier_B6,op_unique_carrier_C5,op_unique_carrier_CP,...,op_carrier_fl_num_996,op_carrier_fl_num_997,op_carrier_fl_num_998,op_carrier_fl_num_999,crs_dep_time_of_day_early morning,crs_dep_time_of_day_evening,crs_dep_time_of_day_late afternoon,crs_dep_time_of_day_late morning,crs_dep_time_of_day_midday,crs_dep_time_of_day_nan
0,-0.664788,-0.790335,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1.075340,-0.110968,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,-0.163448,-0.390707,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,-0.393285,0.088846,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0.124113,0.268679,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [37]:
transformed_df.shape

(367483, 7004)

In [32]:
transformed_df['crs_dep_time_of_day_nan'].value_counts()

0    367313
1       170
Name: crs_dep_time_of_day_nan, dtype: int64

### Make a pickle of the transformed data

In [ ]:
import pickle

feature_engineered_trans_data2 = transformed_df

with open(r'..\data\flight_data_engineered_trans2.pickle','wb') as flight_data_file:
      pickle.dump(feature_engineered_trans_data2, flight_data_file)

# Iteration 7

### Load Feature Engineered Data

In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
sns.set() # Setting seaborn as default style even if use only matplotlib
pd.set_option('display.max_rows', None)

In [24]:
import pickle

with open(r'..\data\fe_flight_num_TRAINING_2.pickle','rb') as flight_data_file:
     df_flights_train = pickle.load(flight_data_file)

In [25]:
import pickle

with open(r'..\data\fe_flight_num_TEST_2.pickle','rb') as flight_data_file:
     df_flights_test = pickle.load(flight_data_file)

In [26]:
df_flights_train.head()

,crs_dep_time_of_day,mean_flight_num_delay,mean_month_arr_delay,season,day_of_week,is_weekend,is_holiday,origin_region,dest_region,arr_delay
0,late morning,-5.533333,6.057037,Winter,Friday,False,False,South,Northeast,-14.0
1,late afternoon,-1.500000,8.825380,Summer,Tuesday,False,False,West,West,-11.0
2,midday,6.066726,5.175516,Spring,Monday,False,False,Midwest,Midwest,-5.0
3,evening,7.961089,5.175516,Spring,Monday,False,False,Northeast,Northeast,-11.0
4,late afternoon,15.913043,0.130610,Fall,Thursday,False,False,West,West,-6.0

In [27]:
df_flights_test.head()

,crs_dep_time_of_day,mean_flight_num_delay,mean_month_arr_delay,season,day_of_week,is_weekend,is_holiday,origin_region,dest_region,arr_delay
0,late afternoon,16.857143,5.175516,Spring,Thursday,False,False,South,West,2.0
1,evening,7.961089,7.071467,Spring,Thursday,False,False,South,Northeast,69.0
2,late morning,-6.272727,8.825380,Summer,Tuesday,False,False,West,West,-4.0
3,late afternoon,10.821680,6.057037,Winter,Monday,False,False,Midwest,South,-13.0
4,midday,6.066726,3.088488,Spring,Saturday,True,False,South,South,48.0

### Check for Missing Values

In [28]:
sum(df_flights_train.isnull().sum())

0

In [29]:
sum(df_flights_test.isnull().sum())

0

### Fix DataTypes

In [30]:
df_flights_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74255 entries, 0 to 74266
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   crs_dep_time_of_day    74255 non-null  category
 1   mean_flight_num_delay  74255 non-null  float64
 2   mean_month_arr_delay   74255 non-null  float64
 3   season                 74255 non-null  object
 4   day_of_week            74255 non-null  object
 5   is_weekend             74255 non-null  bool
 6   is_holiday             74255 non-null  bool
 7   origin_region          74255 non-null  object
 8   dest_region            74255 non-null  object
 9   arr_delay              74255 non-null  float64
dtypes: bool(2), category(1), float64(3), object(4)
memory usage: 4.7+ MB

In [31]:
# all good

In [32]:
df_flights_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24751 entries, 0 to 24750
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   crs_dep_time_of_day    24751 non-null  category
 1   mean_flight_num_delay  24751 non-null  float64
 2   mean_month_arr_delay   24751 non-null  float64
 3   season                 24751 non-null  object
 4   day_of_week            24751 non-null  object
 5   is_weekend             24751 non-null  bool
 6   is_holiday             24751 non-null  bool
 7   origin_region          24751 non-null  object
 8   dest_region            24751 non-null  object
 9   arr_delay              24751 non-null  float64
dtypes: bool(2), category(1), float64(3), object(4)
memory usage: 1.4+ MB

### Transform Categorical Variables into Numeric Data

In [33]:
# transform nominal variables into Dummy Variables

cat_feats_train = df_flights_train.dtypes[(df_flights_train.dtypes == 'object') | (df_flights_train.dtypes == 'category') ].index.tolist()
df_dummy_train = pd.get_dummies(df_flights_train[cat_feats_train])
df_dummy_train.head()

,crs_dep_time_of_day_early morning,crs_dep_time_of_day_late morning,crs_dep_time_of_day_midday,crs_dep_time_of_day_late afternoon,crs_dep_time_of_day_evening,season_Fall,season_Spring,season_Summer,season_Winter,day_of_week_Friday,...,origin_region_Midwest,origin_region_Northeast,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West
0,0,1,0,0,0,0,0,0,1,1,...,0,0,0,1,0,0,1,0,0,0
1,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,0
3,0,0,0,0,1,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [34]:
cat_feats_test = df_flights_test.dtypes[(df_flights_test.dtypes == 'object') | (df_flights_test.dtypes == 'category') ].index.tolist()
df_dummy_test = pd.get_dummies(df_flights_test[cat_feats_test])
df_dummy_test.head()

,crs_dep_time_of_day_early morning,crs_dep_time_of_day_late morning,crs_dep_time_of_day_midday,crs_dep_time_of_day_late afternoon,crs_dep_time_of_day_evening,season_Fall,season_Spring,season_Summer,season_Winter,day_of_week_Friday,...,origin_region_Midwest,origin_region_Northeast,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West
0,0,0,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,0,0,0,0,1,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0,0,0,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
4,0,0,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [46]:
df_dummy_train.shape

(74255, 26)

In [47]:
df_dummy_test.shape

(24751, 26)

In [35]:
# Map values onto numbers for bool variables

df_flights_train.replace({
    "is_weekend" : {True : 1, False : 0}, 
    "is_holiday" : {True : 1, False : 0},
    }, inplace=True)

In [48]:
df_flights_train.shape

(74255, 10)

In [36]:
df_flights_test.replace({
    "is_weekend" : {True : 1, False : 0}, 
    "is_holiday" : {True : 1, False : 0},
    }, inplace=True)

In [49]:
df_flights_test.shape

(24751, 10)

In [37]:
# drop the nominal variables from the original dataset

numeric_df_train = df_flights_train.drop(columns=cat_feats_train)

In [39]:
numeric_df_test = df_flights_test.drop(columns=cat_feats_test)

In [50]:
numeric_df_train.shape

(74255, 5)

In [51]:
numeric_df_test.shape

(24751, 5)

In [40]:
# scale the numeric data

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data_train = pd.DataFrame(scaler.fit_transform(numeric_df_train), columns=numeric_df_train.columns)
scaled_data_train.head()

,mean_flight_num_delay,mean_month_arr_delay,is_weekend,is_holiday,arr_delay
0,-0.832543,0.240826,-0.604262,-0.157257,-0.407623
1,-0.520942,1.097784,-0.604262,-0.157257,-0.344193
2,0.063635,-0.032054,-0.604262,-0.157257,-0.217333
3,0.209986,-0.032054,-0.604262,-0.157257,-0.344193
4,0.824325,-1.593737,-0.604262,-0.157257,-0.238476

In [41]:
scaled_data_test = pd.DataFrame(scaler.transform(numeric_df_test), columns=numeric_df_test.columns)
scaled_data_test.head()

,mean_flight_num_delay,mean_month_arr_delay,is_weekend,is_holiday,arr_delay
0,0.897262,-0.032054,-0.604262,-0.157257,-0.069330
1,0.209986,0.554849,-0.604262,-0.157257,1.347269
2,-0.889666,1.097784,-0.604262,-0.157257,-0.196190
3,0.430985,0.240826,-0.604262,-0.157257,-0.386479
4,0.063635,-0.678107,1.654912,-0.157257,0.903261

In [53]:
scaled_data_train.shape

(74255, 5)

In [54]:
scaled_data_test.shape

(24751, 5)

In [60]:
# merge the scaled and dummy variables into one dataset

transformed_df_train = scaled_data_train.merge(df_dummy_train, left_index=True, right_index=True)
transformed_df_train.head()

,mean_flight_num_delay,mean_month_arr_delay,is_weekend,is_holiday,arr_delay,crs_dep_time_of_day_early morning,crs_dep_time_of_day_late morning,crs_dep_time_of_day_midday,crs_dep_time_of_day_late afternoon,crs_dep_time_of_day_evening,...,origin_region_Midwest,origin_region_Northeast,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West
0,-0.832543,0.240826,-0.604262,-0.157257,-0.407623,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1,-0.520942,1.097784,-0.604262,-0.157257,-0.344193,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
2,0.063635,-0.032054,-0.604262,-0.157257,-0.217333,0,0,1,0,0,...,1,0,0,0,0,1,0,0,0,0
3,0.209986,-0.032054,-0.604262,-0.157257,-0.344193,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,0
4,0.824325,-1.593737,-0.604262,-0.157257,-0.238476,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1

In [67]:
sum(transformed_df_train.isnull().sum())

0

In [64]:
transformed_df_test = scaled_data_test.merge(df_dummy_test, left_index=True, right_index=True)
transformed_df_test.head()

,mean_flight_num_delay,mean_month_arr_delay,is_weekend,is_holiday,arr_delay,crs_dep_time_of_day_early morning,crs_dep_time_of_day_late morning,crs_dep_time_of_day_midday,crs_dep_time_of_day_late afternoon,crs_dep_time_of_day_evening,...,origin_region_Midwest,origin_region_Northeast,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West
0,0.897262,-0.032054,-0.604262,-0.157257,-0.069330,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
1,0.209986,0.554849,-0.604262,-0.157257,1.347269,0,0,0,0,1,...,0,0,0,1,0,0,1,0,0,0
2,-0.889666,1.097784,-0.604262,-0.157257,-0.196190,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0.430985,0.240826,-0.604262,-0.157257,-0.386479,0,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
4,0.063635,-0.678107,1.654912,-0.157257,0.903261,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0

In [69]:
sum(transformed_df_test.isnull().sum())

0

### Make a pickle of the transformed data

In [71]:
import pickle

fe_flight_num_TRAINING_2_trans = transformed_df_train

with open(r'..\data\fe_flight_num_TRAINING_2_trans.pickle', 'wb') as flight_data_file:
      pickle.dump(fe_flight_num_TRAINING_2_trans, flight_data_file)

In [72]:
import pickle

fe_flight_num_TEST_2_trans = transformed_df_test

with open(r'..\data\fe_flight_num_TEST_2_trans.pickle','wb') as flight_data_file:
      pickle.dump(fe_flight_num_TEST_2_trans, flight_data_file)

# Iteration 8

In [73]:
# drop 1 feature and re-run

In [81]:
transformed_df_train.head()

,mean_flight_num_delay,mean_month_arr_delay,is_weekend,is_holiday,arr_delay,crs_dep_time_of_day_early morning,crs_dep_time_of_day_late morning,crs_dep_time_of_day_midday,crs_dep_time_of_day_late afternoon,crs_dep_time_of_day_evening,...,origin_region_Midwest,origin_region_Northeast,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West
0,-0.832543,0.240826,-0.604262,-0.157257,-0.407623,0,1,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1,-0.520942,1.097784,-0.604262,-0.157257,-0.344193,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1
2,0.063635,-0.032054,-0.604262,-0.157257,-0.217333,0,0,1,0,0,...,1,0,0,0,0,1,0,0,0,0
3,0.209986,-0.032054,-0.604262,-0.157257,-0.344193,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,0
4,0.824325,-1.593737,-0.604262,-0.157257,-0.238476,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1

In [82]:
transformed_df_train = transformed_df_train.drop(columns='mean_flight_num_delay')
transformed_df_test = transformed_df_test.drop(columns='mean_flight_num_delay')

### Make a pickle of the transformed data

In [83]:
import pickle

fe_flight_num_TRAINING_3_trans = transformed_df_train

with open(r'..\data\fe_flight_num_TRAINING_3_trans.pickle', 'wb') as flight_data_file:
      pickle.dump(fe_flight_num_TRAINING_3_trans, flight_data_file)

In [84]:
import pickle

fe_flight_num_TEST_3_trans = transformed_df_test

with open(r'..\data\fe_flight_num_TEST_3_trans.pickle','wb') as flight_data_file:
      pickle.dump(fe_flight_num_TEST_3_trans, flight_data_file)