In [1]:
import pandas as pd
import numpy as np
import os
from modules import connect_lhl
os.chdir('..')
os.getcwd()

'/Users/calebward/LHL_midterm_flight_delay'

In [2]:
test_conn = connect_lhl.lhl_delay_data('lhl-data-bootcamp.crzjul5qln0e.ca-central-1.rds.amazonaws.com','mid_term_project','lhl_student','lhl_student')
test_conn.connection()
x = test_conn.sample_table('flights','100')

/Users/calebward/LHL_midterm_flight_delay/3_src/modules/connect_lhl.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_return = sqlio.read_sql_query(query, self.connection())

In [3]:
x

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-02-15,UA,UA_CODESHARE,UA,5411,OO,N168SY,5411,12892,LAX,...,370.0,0.0,0.0,48.0,0.0,23.0,None,NaN,NaN,None
1,2019-11-20,UA,UA,UA,1280,UA,N37413,1280,14107,PHX,...,1440.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
2,2018-02-25,UA,UA,UA,1956,UA,N444UA,1956,12266,IAH,...,1379.0,0.0,0.0,47.0,0.0,0.0,None,NaN,NaN,None
3,2019-07-14,WN,WN,WN,3501,WN,N782SA,3501,10140,ABQ,...,486.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
4,2018-09-30,UA,UA,UA,632,UA,N66828,632,12264,IAD,...,2288.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2018-02-03,AA,AA,AA,1749,AA,N109UW,1749,14492,RDU,...,130.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
96,2018-05-31,DL,DL_CODESHARE,DL,4129,OO,N496CA,4129,10397,ATL,...,500.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
97,2019-05-06,AA,AA_CODESHARE,AA,5206,OH,N705PS,5206,11057,CLT,...,221.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
98,2019-08-06,AA,AA,AA,2430,AA,N886NN,2430,11298,DFW,...,929.0,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None
99,2018-01-28,AA,AA_CODESHARE,AA,5029,OH,N539EA,5029,13244,MEM,...,762.0,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,None

In [ ]:
df_flight = pd.read_csv('2_data/flights_random_sample.csv')
df_pass = pd.read_csv('2_data/passenger_random_sample.csv')
df_fuel = pd.read_csv('2_data/fuel_consumption.csv')

dfs = [df_flight, df_pass, df_fuel]

In [ ]:
dfs[0].info()

In [ ]:
dfs[1].info()

In [ ]:
dfs[2].info()

In [ ]:
for df in dfs:
    df.dropna(axis = 1, how = 'all', inplace = True)

In [ ]:
df_f = df_flight[['fl_date','mkt_carrier',
'mkt_carrier_fl_num','op_unique_carrier','tail_num','op_carrier_fl_num',
'origin_airport_id','dest_airport_id','crs_dep_time','crs_arr_time',
'crs_elapsed_time','distance','arr_delay']].copy()

In [ ]:
df_f.info()

In [ ]:
df_f[df_f.isnull().any(axis=1)]

In [ ]:
df_f.dropna(axis = 0, how = 'any', inplace=True)
df_f.info()

In [ ]:
df_f

In [ ]:
df_f.T.drop_duplicates().T
df_f.drop('op_unique_carrier', axis = 1, inplace = True)

In [ ]:
df_f = pd.get_dummies(df_f, columns=['tail_num', 'mkt_carrier'])

In [ ]:
df_f[['year', 'month', 'day']] = df_f['fl_date'].str.split('-', expand=True).astype('int')
df_f.drop('fl_date', axis = 1, inplace = True)
df_f.dtypes

In [ ]:
df_f.to_csv('2_data/baseline_data.csv')

In [ ]:
df_f.shape