#### **Task 9**: Find the top 10 the bussiest airports. Does the biggest number of flights mean that the biggest number of passengers went through the particular airport? How much traffic do these 10 airports cover?

In [1]:
import pandas as pd
import math
import requests
import numpy as np
import scipy as sci
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import os

In [2]:
os.chdir('../..')
df_flights = pd.read_csv('2_data/flights_random_sample.csv')
df_passengers = pd.read_csv('2_data/passenger_random_sample.csv')

In [18]:
top_airports = (df_passengers.origin_airport_id.value_counts() + df_passengers.dest_airport_id.value_counts()).dropna()
all_airports = (df_passengers.origin_airport_id.value_counts() + df_passengers.dest_airport_id.value_counts()).dropna().sum()

In [21]:
flights_perc = top_airports/all_airports
df_passengers['flight_perc'] = (df_passengers.origin_airport_id.value_counts() + df_passengers.dest_airport_id.value_counts())/all_airports
flights_perc.nlargest(10)

13930    0.033402
10397    0.028777
11292    0.024499
12892    0.021470
11298    0.020173
12266    0.019726
13487    0.019195
11433    0.018038
13303    0.017731
11618    0.017512
dtype: float64

In [28]:
df_passengers[['passengers','freight','mail', 'flight_perc']].dropna().sort_values(by='flight_perc', ascending = False).head(10)

       passengers  freight  mail  flight_perc
13930        1432        0     0     0.033402
10397         175        0   247     0.028777
11292         386       22     0     0.024499
12892         832        0     0     0.021470
11298         432       57     0     0.020173
12266         624       30     0     0.019726
13487        1074     1551     0     0.019195
11433         166        0     0     0.018038
13303         995      442  2073     0.017731
11618         455        0     0     0.017512

In [27]:
df_passengers.passengers.nlargest(10)

23991    80320
23972    80272
23994    80128
23974    77042
23970    72957
23967    72482
60770    71630
92297    68158
92294    66685
92296    66380
Name: passengers, dtype: int64