#### **Task 8**: When (which hour) do most 'LONG', 'SHORT', 'MEDIUM' haul flights take off?

In [1]:
import pandas as pd
import numpy as np
import datetime
import seaborn as sns
pd.set_option('display.max_rows', None)

In [2]:
df_flights = pd.read_csv(r'..\..\2_data\flights_random_sample.csv', sep=',')
df_flights.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-01-01,WN,WN,WN,5431,WN,N291WN,5431,12889,LAS,...,986,1.0,0.0,0.0,0.0,18.0,NaN,NaN,NaN,NaN
1,2018-01-01,WN,WN,WN,989,WN,N287WN,989,12889,LAS,...,1099,0.0,0.0,11.0,0.0,35.0,NaN,NaN,NaN,NaN
2,2018-01-01,WN,WN,WN,1664,WN,N751SW,1664,12889,LAS,...,1099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,WN,WN,WN,1106,WN,N704SW,1106,12889,LAS,...,197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,WN,WN,WN,1559,WN,N423WN,1559,12889,LAS,...,197,37.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [ ]:
# short, medium, long haul definitions from: https://en.wikipedia.org/wiki/Flight_length

In [ ]:
df_flights['distance'].describe()

count    100998.000000
mean        774.058486
std         585.277397
min          31.000000
25%         345.000000
50%         612.000000
75%        1012.000000
max        4983.000000
Name: distance, dtype: float64

In [ ]:
df_flights['haul'] = pd.cut(df_flights['distance'], bins = [0,800,2200,5000],labels=['short','medium','long'])

In [ ]:
filter = df_flights[['haul','flights','dep_time']]
filter.groupby('haul',as_index=False).count()

     haul  flights  dep_time
0   short    63126     61937
1  medium    33475     33109
2    long     4397      4379

In [ ]:
df_flights['dep_time'].describe()

count    99425.000000
mean      1334.333437
std        502.777726
min          1.000000
25%        919.000000
50%       1327.000000
75%       1743.000000
max       2400.000000
Name: dep_time, dtype: float64

In [ ]:
# df_flights['dep_time'] = datetime.strptime(str(int(df_flights['dep_time']))

In [ ]:
filter['dep_time_grouped'] = pd.cut(df_flights['dep_time'], 24, labels=range(0,24))
most_common_hour_by_type = filter.groupby(['haul','dep_time_grouped'],as_index=False).count().sort_values(by=['haul','flights'],ascending=[True,False])

C:\Users\User\AppData\Local\Temp\ipykernel_25028\209880578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter['dep_time_grouped'] = pd.cut(df_flights['dep_time'], 24, labels=range(0,24))

In [ ]:
most_common_hour_by_type.groupby('haul').head(1)

      haul dep_time_grouped  flights  dep_time
17   short               17     3959      3959
30  medium                6     2383      2383
56    long                8      341       341

Most common hour for short-haul flights is 5 PM
Most common hour for medium-haul flights is 6 AM
Most common hour for long-haul flights is 8 AM