In [11]:
import pandas as pd
import numpy as np
import pickle

# Iteration 1

In [2]:
with open(r'..\..\data\v2\df_train_step2_subset1.pickle','rb') as flight_data_file:
     df_flights_train = pickle.load(flight_data_file)

In [3]:
with open(r'..\..\data\v2\df_test_step2_subset1.pickle','rb') as flight_data_file:
     df_flights_test = pickle.load(flight_data_file)

In [4]:
df_flights_train.head()

,day_of_week,is_weekend,season,is_holiday,crs_dep_time_of_day,crs_arr_time_of_day,origin_region,dest_region,arr_delay
0,Saturday,True,Fall,False,late afternoon,late afternoon,South,Northeast,-3.0
1,Monday,False,Fall,True,late morning,midday,Northeast,Northeast,-7.0
2,Wednesday,False,Spring,False,late afternoon,late afternoon,Northeast,South,-20.0
3,Friday,False,Spring,False,late morning,late morning,Other,Other,-28.0
4,Wednesday,False,Winter,False,early morning,late morning,Midwest,South,-24.0

In [5]:
df_flights_test.head()

,day_of_week,is_weekend,season,is_holiday,crs_dep_time_of_day,crs_arr_time_of_day,origin_region,dest_region,arr_delay
0,Friday,False,Summer,False,late afternoon,late afternoon,Midwest,Midwest,17.0
1,Saturday,True,Spring,False,evening,evening,South,Midwest,-25.0
2,Monday,False,Summer,False,late morning,late morning,West,West,-10.0
3,Friday,False,Fall,False,late morning,late morning,South,Northeast,-3.0
4,Friday,False,Winter,False,late afternoon,late afternoon,Northeast,Northeast,69.0

### Check for Missing Values

In [6]:
sum(df_flights_train.isnull().sum())

0

In [7]:
sum(df_flights_test.isnull().sum())

0

### Fix DataTypes

In [8]:
df_flights_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73395 entries, 0 to 73394
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   day_of_week          73395 non-null  object
 1   is_weekend           73395 non-null  bool
 2   season               73395 non-null  object
 3   is_holiday           73395 non-null  bool
 4   crs_dep_time_of_day  73395 non-null  category
 5   crs_arr_time_of_day  73395 non-null  category
 6   origin_region        73395 non-null  object
 7   dest_region          73395 non-null  object
 8   arr_delay            73395 non-null  float64
dtypes: bool(2), category(2), float64(1), object(4)
memory usage: 3.1+ MB

In [9]:
# all good

In [10]:
df_flights_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24444 entries, 0 to 24443
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   day_of_week          24444 non-null  object
 1   is_weekend           24444 non-null  bool
 2   season               24444 non-null  object
 3   is_holiday           24444 non-null  bool
 4   crs_dep_time_of_day  24444 non-null  category
 5   crs_arr_time_of_day  24444 non-null  category
 6   origin_region        24444 non-null  object
 7   dest_region          24444 non-null  object
 8   arr_delay            24444 non-null  float64
dtypes: bool(2), category(2), float64(1), object(4)
memory usage: 1.0+ MB

### Transform Categorical Variables into Numeric Data

In [11]:
nom_feats_train = df_flights_train.dtypes[(df_flights_train.dtypes == 'object') | (df_flights_train.dtypes == 'category') ].index.tolist()
bool_feats_train = df_flights_train.dtypes[df_flights_train.dtypes == 'bool'].index.tolist()

cat_feats_train = nom_feats_train + bool_feats_train

df_numeric_train = df_flights_train.drop(columns=cat_feats_train)
df_numeric_train = df_numeric_train.drop(columns='arr_delay')

df_dummy_train = pd.get_dummies(df_flights_train[nom_feats_train])
df_dummy_train.head()

,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,season_Fall,season_Spring,season_Summer,...,origin_region_Midwest,origin_region_Northeast,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West
0,0,0,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
1,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
4,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [12]:
nom_feats_test = df_flights_test.dtypes[(df_flights_test.dtypes == 'object') | (df_flights_test.dtypes == 'category') ].index.tolist()
bool_feats_test = df_flights_test.dtypes[df_flights_test.dtypes == 'bool'].index.tolist()

cat_feats_test = nom_feats_test + bool_feats_test

df_numeric_test = df_flights_test.drop(columns=cat_feats_test)
df_numeric_test = df_numeric_test.drop(columns='arr_delay')

df_dummy_test = pd.get_dummies(df_flights_test[nom_feats_test])
df_dummy_test.head() #drop_first=True?

,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,season_Fall,season_Spring,season_Summer,...,origin_region_Midwest,origin_region_Northeast,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West
0,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
1,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
2,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
3,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [13]:
df_flights_train.replace({
    "is_weekend" : {True : 1, False : 0}, 
    "is_holiday" : {True : 1, False : 0},
    }, inplace=True)

In [14]:
df_flights_test.replace({
    "is_weekend" : {True : 1, False : 0}, 
    "is_holiday" : {True : 1, False : 0},
    }, inplace=True)

In [15]:
df_flights_test.shape

(24444, 9)

In [16]:
df_flights_train.shape

(73395, 9)

In [17]:
df_flights_train.head()

,day_of_week,is_weekend,season,is_holiday,crs_dep_time_of_day,crs_arr_time_of_day,origin_region,dest_region,arr_delay
0,Saturday,1,Fall,0,late afternoon,late afternoon,South,Northeast,-3.0
1,Monday,0,Fall,1,late morning,midday,Northeast,Northeast,-7.0
2,Wednesday,0,Spring,0,late afternoon,late afternoon,Northeast,South,-20.0
3,Friday,0,Spring,0,late morning,late morning,Other,Other,-28.0
4,Wednesday,0,Winter,0,early morning,late morning,Midwest,South,-24.0

In [18]:
df_flights_test.head()

,day_of_week,is_weekend,season,is_holiday,crs_dep_time_of_day,crs_arr_time_of_day,origin_region,dest_region,arr_delay
0,Friday,0,Summer,0,late afternoon,late afternoon,Midwest,Midwest,17.0
1,Saturday,1,Spring,0,evening,evening,South,Midwest,-25.0
2,Monday,0,Summer,0,late morning,late morning,West,West,-10.0
3,Friday,0,Fall,0,late morning,late morning,South,Northeast,-3.0
4,Friday,0,Winter,0,late afternoon,late afternoon,Northeast,Northeast,69.0

In [19]:
# df_numeric_train.head()

In [20]:
# df_numeric_test.head()

In [21]:
# from sklearn import preprocessing
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()

# scaled_data_train = pd.DataFrame(scaler.fit_transform(df_numeric_train), columns=df_numeric_train.columns)
# scaled_data_train.head()

In [22]:
# scaled_data_test = pd.DataFrame(scaler.transform(df_numeric_test), columns=df_numeric_test.columns)
# scaled_data_test.head()

In [23]:
# transformed_df_train = df_numeric_train.merge(df_dummy_train, left_index=True, right_index=True)
# transformed_df_train = transformed_df_train.merge(df_flights_train[bool_feats_train], left_index=True, right_index=True)
# transformed_df_train = transformed_df_train.merge(df_flights_train['arr_delay'], left_index=True, right_index=True)
# transformed_df_train.head()

In [24]:
# transformed_df_test = df_numeric_test.merge(df_dummy_test, left_index=True, right_index=True)
# transformed_df_test = transformed_df_test.merge(df_flights_test[bool_feats_test], left_index=True, right_index=True)
# transformed_df_test = transformed_df_test.merge(df_flights_test['arr_delay'], left_index=True, right_index=True)
# transformed_df_test.head()

In [26]:
transformed_df_train = df_dummy_train.merge(df_flights_train[['arr_delay',"is_weekend","is_holiday"]], left_index=True, right_index=True)
transformed_df_test = df_dummy_test.merge(df_flights_test[['arr_delay',"is_weekend","is_holiday"]], left_index=True, right_index=True)

In [27]:
transformed_df_train.head()

,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,season_Fall,season_Spring,season_Summer,...,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,arr_delay,is_weekend,is_holiday
0,0,0,1,0,0,0,0,1,0,0,...,1,0,0,1,0,0,0,-3.0,1,0
1,0,1,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,-7.0,0,1
2,0,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,1,0,-20.0,0,0
3,1,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,-28.0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,-24.0,0,0

In [28]:
transformed_df_test.head()

,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,season_Fall,season_Spring,season_Summer,...,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,arr_delay,is_weekend,is_holiday
0,1,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,17.0,0,0
1,0,0,1,0,0,0,0,0,1,0,...,1,0,1,0,0,0,0,-25.0,1,0
2,0,1,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,1,-10.0,0,0
3,1,0,0,0,0,0,0,1,0,0,...,1,0,0,1,0,0,0,-3.0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,69.0,0,0

In [29]:
with open(r'..\..\data\v2\df_train_step3_subset1.pickle','wb') as flight_data_file:
     pickle.dump(transformed_df_train, flight_data_file)

In [30]:
with open(r'..\..\data\v2\df_test_step3_subset1.pickle','wb') as flight_data_file:
     pickle.dump(transformed_df_test, flight_data_file)

# Iteration 2

In [1]:
import pickle

with open(r'..\..\data\v2\df_train_step2_subset2.pickle','rb') as flight_data_file:
     df_flights_train = pickle.load(flight_data_file)

In [2]:
with open(r'..\..\data\v2\df_test_step2_subset2.pickle','rb') as flight_data_file:
     df_flights_test = pickle.load(flight_data_file)

In [3]:
df_flights_train.head()

,day_of_week,is_weekend,season,is_holiday,crs_dep_time_of_day,crs_arr_time_of_day,origin_region,dest_region,mean_mkt_carrier_delay,mean_op_carrier_delay,arr_delay
0,Saturday,True,Fall,False,late afternoon,late afternoon,South,Northeast,8.874947,6.733834,-3.0
1,Monday,False,Fall,True,late morning,midday,Northeast,Northeast,5.933842,6.612603,-7.0
2,Wednesday,False,Spring,False,late afternoon,late afternoon,Northeast,South,5.933842,4.264744,-20.0
3,Friday,False,Spring,False,late morning,late morning,Other,Other,8.699325,8.699325,-28.0
4,Wednesday,False,Winter,False,early morning,late morning,Midwest,South,3.239038,3.239038,-24.0

In [4]:
df_flights_test.head()

,day_of_week,is_weekend,season,is_holiday,crs_dep_time_of_day,crs_arr_time_of_day,origin_region,dest_region,mean_mkt_carrier_delay,mean_op_carrier_delay,arr_delay
0,Friday,False,Summer,False,late afternoon,late afternoon,Midwest,Midwest,2.089376,0.049376,17.0
1,Saturday,True,Spring,False,evening,evening,South,Midwest,2.089376,0.049376,-25.0
2,Monday,False,Summer,False,late morning,late morning,West,West,3.239038,3.239038,-10.0
3,Friday,False,Fall,False,late morning,late morning,South,Northeast,3.239038,3.239038,-3.0
4,Friday,False,Winter,False,late afternoon,late afternoon,Northeast,Northeast,5.933842,6.612603,69.0

### Check for Missing Values

In [5]:
sum(df_flights_train.isnull().sum())

0

In [6]:
sum(df_flights_test.isnull().sum())

0

### Fix DataTypes

In [7]:
df_flights_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73395 entries, 0 to 73394
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   day_of_week             73395 non-null  object
 1   is_weekend              73395 non-null  bool
 2   season                  73395 non-null  object
 3   is_holiday              73395 non-null  bool
 4   crs_dep_time_of_day     73395 non-null  category
 5   crs_arr_time_of_day     73395 non-null  category
 6   origin_region           73395 non-null  object
 7   dest_region             73395 non-null  object
 8   mean_mkt_carrier_delay  73395 non-null  float64
 9   mean_op_carrier_delay   73395 non-null  float64
 10  arr_delay               73395 non-null  float64
dtypes: bool(2), category(2), float64(3), object(4)
memory usage: 4.2+ MB

In [8]:
# all good

In [9]:
df_flights_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24444 entries, 0 to 24443
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   day_of_week             24444 non-null  object
 1   is_weekend              24444 non-null  bool
 2   season                  24444 non-null  object
 3   is_holiday              24444 non-null  bool
 4   crs_dep_time_of_day     24444 non-null  category
 5   crs_arr_time_of_day     24444 non-null  category
 6   origin_region           24444 non-null  object
 7   dest_region             24444 non-null  object
 8   mean_mkt_carrier_delay  24444 non-null  float64
 9   mean_op_carrier_delay   24444 non-null  float64
 10  arr_delay               24444 non-null  float64
dtypes: bool(2), category(2), float64(3), object(4)
memory usage: 1.4+ MB

### Transform Categorical Variables into Numeric Data

In [12]:
nom_feats_train = df_flights_train.dtypes[(df_flights_train.dtypes == 'object') | (df_flights_train.dtypes == 'category') ].index.tolist()
bool_feats_train = df_flights_train.dtypes[df_flights_train.dtypes == 'bool'].index.tolist()

cat_feats_train = nom_feats_train + bool_feats_train

df_numeric_train = df_flights_train.drop(columns=cat_feats_train)
df_numeric_train = df_numeric_train.drop(columns='arr_delay')

df_dummy_train = pd.get_dummies(df_flights_train[nom_feats_train])
df_dummy_train.head()

,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,season_Fall,season_Spring,season_Summer,...,origin_region_Midwest,origin_region_Northeast,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West
0,0,0,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
1,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
4,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [13]:
nom_feats_test = df_flights_test.dtypes[(df_flights_test.dtypes == 'object') | (df_flights_test.dtypes == 'category') ].index.tolist()
bool_feats_test = df_flights_test.dtypes[df_flights_test.dtypes == 'bool'].index.tolist()

cat_feats_test = nom_feats_test + bool_feats_test

df_numeric_test = df_flights_test.drop(columns=cat_feats_test)
df_numeric_test = df_numeric_test.drop(columns='arr_delay')

df_dummy_test = pd.get_dummies(df_flights_test[nom_feats_test])
df_dummy_test.head() #drop_first=True?

,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,season_Fall,season_Spring,season_Summer,...,origin_region_Midwest,origin_region_Northeast,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West
0,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
1,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
2,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
3,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [14]:
df_flights_train.replace({
    "is_weekend" : {True : 1, False : 0}, 
    "is_holiday" : {True : 1, False : 0},
    }, inplace=True)

In [15]:
df_flights_test.replace({
    "is_weekend" : {True : 1, False : 0}, 
    "is_holiday" : {True : 1, False : 0},
    }, inplace=True)

In [16]:
df_flights_test.shape

(24444, 11)

In [17]:
df_flights_train.shape

(73395, 11)

In [18]:
df_flights_train.head()

,day_of_week,is_weekend,season,is_holiday,crs_dep_time_of_day,crs_arr_time_of_day,origin_region,dest_region,mean_mkt_carrier_delay,mean_op_carrier_delay,arr_delay
0,Saturday,1,Fall,0,late afternoon,late afternoon,South,Northeast,8.874947,6.733834,-3.0
1,Monday,0,Fall,1,late morning,midday,Northeast,Northeast,5.933842,6.612603,-7.0
2,Wednesday,0,Spring,0,late afternoon,late afternoon,Northeast,South,5.933842,4.264744,-20.0
3,Friday,0,Spring,0,late morning,late morning,Other,Other,8.699325,8.699325,-28.0
4,Wednesday,0,Winter,0,early morning,late morning,Midwest,South,3.239038,3.239038,-24.0

In [19]:
df_flights_test.head()

,day_of_week,is_weekend,season,is_holiday,crs_dep_time_of_day,crs_arr_time_of_day,origin_region,dest_region,mean_mkt_carrier_delay,mean_op_carrier_delay,arr_delay
0,Friday,0,Summer,0,late afternoon,late afternoon,Midwest,Midwest,2.089376,0.049376,17.0
1,Saturday,1,Spring,0,evening,evening,South,Midwest,2.089376,0.049376,-25.0
2,Monday,0,Summer,0,late morning,late morning,West,West,3.239038,3.239038,-10.0
3,Friday,0,Fall,0,late morning,late morning,South,Northeast,3.239038,3.239038,-3.0
4,Friday,0,Winter,0,late afternoon,late afternoon,Northeast,Northeast,5.933842,6.612603,69.0

In [20]:
df_numeric_train.head()

   mean_mkt_carrier_delay  mean_op_carrier_delay
0                8.874947               6.733834
1                5.933842               6.612603
2                5.933842               4.264744
3                8.699325               8.699325
4                3.239038               3.239038

In [21]:
df_numeric_test.head()

   mean_mkt_carrier_delay  mean_op_carrier_delay
0                2.089376               0.049376
1                2.089376               0.049376
2                3.239038               3.239038
3                3.239038               3.239038
4                5.933842               6.612603

In [22]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaled_data_train = pd.DataFrame(scaler.fit_transform(df_numeric_train), columns=df_numeric_train.columns)
scaled_data_train.head()

   mean_mkt_carrier_delay  mean_op_carrier_delay
0                1.354377               0.466790
1                0.294843               0.431824
2                0.294843              -0.245348
3                1.291110               1.033679
4               -0.675961              -0.541184

In [31]:
scaled_data_test = pd.DataFrame(scaler.transform(df_numeric_test), columns=df_numeric_test.columns)


with open(r'..\..\data\v2\df_test_step3_subset2_scaler.pickle','wb') as flight_data_file:
     pickle.dump(scaler, flight_data_file)

In [32]:
scaled_data_test.head()

   mean_mkt_carrier_delay  mean_op_carrier_delay
0               -1.090127              -1.461150
1               -1.090127              -1.461150
2               -0.675961              -0.541184
3               -0.675961              -0.541184
4                0.294843               0.431824

In [24]:
transformed_df_train = scaled_data_train.merge(df_dummy_train, left_index=True, right_index=True)
transformed_df_train = transformed_df_train.merge(df_flights_train[bool_feats_train], left_index=True, right_index=True)
transformed_df_train = transformed_df_train.merge(df_flights_train['arr_delay'], left_index=True, right_index=True)
transformed_df_train.head()

,mean_mkt_carrier_delay,mean_op_carrier_delay,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,season_Fall,...,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,is_weekend,is_holiday,arr_delay
0,8.874947,6.733834,0,0,1,0,0,0,0,1,...,1,0,0,1,0,0,0,1,0,-3.0
1,5.933842,6.612603,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,-7.0
2,5.933842,4.264744,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,-20.0
3,8.699325,8.699325,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,-28.0
4,3.239038,3.239038,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,-24.0

In [25]:
transformed_df_test = scaled_data_test.merge(df_dummy_test, left_index=True, right_index=True)
transformed_df_test = transformed_df_test.merge(df_flights_test[bool_feats_test], left_index=True, right_index=True)
transformed_df_test = transformed_df_test.merge(df_flights_test['arr_delay'], left_index=True, right_index=True)
transformed_df_test.head()

,mean_mkt_carrier_delay,mean_op_carrier_delay,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,season_Fall,...,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,is_weekend,is_holiday,arr_delay
0,2.089376,0.049376,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,17.0
1,2.089376,0.049376,0,0,1,0,0,0,0,0,...,1,0,1,0,0,0,0,1,0,-25.0
2,3.239038,3.239038,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,-10.0
3,3.239038,3.239038,1,0,0,0,0,0,0,1,...,1,0,0,1,0,0,0,0,0,-3.0
4,5.933842,6.612603,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,69.0

In [26]:
# transformed_df_train = df_dummy_train.merge(df_flights_train[['arr_delay',"is_weekend","is_holiday"]], left_index=True, right_index=True)
# transformed_df_test = df_dummy_test.merge(df_flights_test[['arr_delay',"is_weekend","is_holiday"]], left_index=True, right_index=True)

In [27]:
# transformed_df_train.head()

In [28]:
# transformed_df_test.head()

In [29]:
with open(r'..\..\data\v2\df_train_step3_subset2.pickle','wb') as flight_data_file:
     pickle.dump(transformed_df_train, flight_data_file)

In [30]:
with open(r'..\..\data\v2\df_test_step3_subset2.pickle','wb') as flight_data_file:
     pickle.dump(transformed_df_test, flight_data_file)

# Iteration 3

In [32]:
import pickle

with open(r'..\..\data\v2\df_train_step2_subset3.pickle','rb') as flight_data_file:
     df_flights_train = pickle.load(flight_data_file)

In [33]:
with open(r'..\..\data\v2\df_test_step2_subset3.pickle','rb') as flight_data_file:
     df_flights_test = pickle.load(flight_data_file)

In [34]:
df_flights_train.head()

,day_of_week,is_weekend,season,is_holiday,crs_dep_time_of_day,crs_arr_time_of_day,origin_region,dest_region,mean_mkt_carrier_delay,mean_op_carrier_delay,mean_route_delay,arr_delay
0,Saturday,True,Fall,False,late afternoon,late afternoon,South,Northeast,8.874947,6.733834,47.157895,-3.0
1,Monday,False,Fall,True,late morning,midday,Northeast,Northeast,5.933842,6.612603,10.090909,-7.0
2,Wednesday,False,Spring,False,late afternoon,late afternoon,Northeast,South,5.933842,4.264744,4.111111,-20.0
3,Friday,False,Spring,False,late morning,late morning,Other,Other,8.699325,8.699325,6.785714,-28.0
4,Wednesday,False,Winter,False,early morning,late morning,Midwest,South,3.239038,3.239038,16.407407,-24.0

In [35]:
df_flights_test.head()

,day_of_week,is_weekend,season,is_holiday,crs_dep_time_of_day,crs_arr_time_of_day,origin_region,dest_region,mean_mkt_carrier_delay,mean_op_carrier_delay,mean_route_delay,arr_delay
0,Friday,False,Summer,False,late afternoon,late afternoon,Midwest,Midwest,2.089376,0.049376,9.125000,17.0
1,Saturday,True,Spring,False,evening,evening,South,Midwest,2.089376,0.049376,4.000000,-25.0
2,Monday,False,Summer,False,late morning,late morning,West,West,3.239038,3.239038,-2.250000,-10.0
3,Friday,False,Fall,False,late morning,late morning,South,Northeast,3.239038,3.239038,-12.333333,-3.0
4,Friday,False,Winter,False,late afternoon,late afternoon,Northeast,Northeast,5.933842,6.612603,-11.000000,69.0

### Check for Missing Values

In [36]:
sum(df_flights_train.isnull().sum())

0

In [37]:
sum(df_flights_test.isnull().sum())

0

### Fix DataTypes

In [38]:
df_flights_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73395 entries, 0 to 73394
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   day_of_week             73395 non-null  object
 1   is_weekend              73395 non-null  bool
 2   season                  73395 non-null  object
 3   is_holiday              73395 non-null  bool
 4   crs_dep_time_of_day     73395 non-null  category
 5   crs_arr_time_of_day     73395 non-null  category
 6   origin_region           73395 non-null  object
 7   dest_region             73395 non-null  object
 8   mean_mkt_carrier_delay  73395 non-null  float64
 9   mean_op_carrier_delay   73395 non-null  float64
 10  mean_route_delay        73395 non-null  float64
 11  arr_delay               73395 non-null  float64
dtypes: bool(2), category(2), float64(4), object(4)
memory usage: 4.8+ MB

In [39]:
# all good

In [40]:
df_flights_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24444 entries, 0 to 24443
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   day_of_week             24444 non-null  object
 1   is_weekend              24444 non-null  bool
 2   season                  24444 non-null  object
 3   is_holiday              24444 non-null  bool
 4   crs_dep_time_of_day     24444 non-null  category
 5   crs_arr_time_of_day     24444 non-null  category
 6   origin_region           24444 non-null  object
 7   dest_region             24444 non-null  object
 8   mean_mkt_carrier_delay  24444 non-null  float64
 9   mean_op_carrier_delay   24444 non-null  float64
 10  mean_route_delay        24444 non-null  float64
 11  arr_delay               24444 non-null  float64
dtypes: bool(2), category(2), float64(4), object(4)
memory usage: 1.6+ MB

### Transform Categorical Variables into Numeric Data

In [41]:
nom_feats_train = df_flights_train.dtypes[(df_flights_train.dtypes == 'object') | (df_flights_train.dtypes == 'category') ].index.tolist()
bool_feats_train = df_flights_train.dtypes[df_flights_train.dtypes == 'bool'].index.tolist()

cat_feats_train = nom_feats_train + bool_feats_train

df_numeric_train = df_flights_train.drop(columns=cat_feats_train)
df_numeric_train = df_numeric_train.drop(columns='arr_delay')

df_dummy_train = pd.get_dummies(df_flights_train[nom_feats_train])
df_dummy_train.head()

,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,season_Fall,season_Spring,season_Summer,...,origin_region_Midwest,origin_region_Northeast,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West
0,0,0,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
1,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
4,0,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0

In [42]:
nom_feats_test = df_flights_test.dtypes[(df_flights_test.dtypes == 'object') | (df_flights_test.dtypes == 'category') ].index.tolist()
bool_feats_test = df_flights_test.dtypes[df_flights_test.dtypes == 'bool'].index.tolist()

cat_feats_test = nom_feats_test + bool_feats_test

df_numeric_test = df_flights_test.drop(columns=cat_feats_test)
df_numeric_test = df_numeric_test.drop(columns='arr_delay')

df_dummy_test = pd.get_dummies(df_flights_test[nom_feats_test])
df_dummy_test.head() #drop_first=True?

,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,season_Fall,season_Spring,season_Summer,...,origin_region_Midwest,origin_region_Northeast,origin_region_Other,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West
0,1,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,0
1,0,0,1,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
2,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,1
3,1,0,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [43]:
df_flights_train.replace({
    "is_weekend" : {True : 1, False : 0}, 
    "is_holiday" : {True : 1, False : 0},
    }, inplace=True)

In [44]:
df_flights_test.replace({
    "is_weekend" : {True : 1, False : 0}, 
    "is_holiday" : {True : 1, False : 0},
    }, inplace=True)

In [45]:
df_flights_test.shape

(24444, 12)

In [46]:
df_flights_train.shape

(73395, 12)

In [47]:
df_flights_train.head()

,day_of_week,is_weekend,season,is_holiday,crs_dep_time_of_day,crs_arr_time_of_day,origin_region,dest_region,mean_mkt_carrier_delay,mean_op_carrier_delay,mean_route_delay,arr_delay
0,Saturday,1,Fall,0,late afternoon,late afternoon,South,Northeast,8.874947,6.733834,47.157895,-3.0
1,Monday,0,Fall,1,late morning,midday,Northeast,Northeast,5.933842,6.612603,10.090909,-7.0
2,Wednesday,0,Spring,0,late afternoon,late afternoon,Northeast,South,5.933842,4.264744,4.111111,-20.0
3,Friday,0,Spring,0,late morning,late morning,Other,Other,8.699325,8.699325,6.785714,-28.0
4,Wednesday,0,Winter,0,early morning,late morning,Midwest,South,3.239038,3.239038,16.407407,-24.0

In [48]:
df_flights_test.head()

,day_of_week,is_weekend,season,is_holiday,crs_dep_time_of_day,crs_arr_time_of_day,origin_region,dest_region,mean_mkt_carrier_delay,mean_op_carrier_delay,mean_route_delay,arr_delay
0,Friday,0,Summer,0,late afternoon,late afternoon,Midwest,Midwest,2.089376,0.049376,9.125000,17.0
1,Saturday,1,Spring,0,evening,evening,South,Midwest,2.089376,0.049376,4.000000,-25.0
2,Monday,0,Summer,0,late morning,late morning,West,West,3.239038,3.239038,-2.250000,-10.0
3,Friday,0,Fall,0,late morning,late morning,South,Northeast,3.239038,3.239038,-12.333333,-3.0
4,Friday,0,Winter,0,late afternoon,late afternoon,Northeast,Northeast,5.933842,6.612603,-11.000000,69.0

In [49]:
df_numeric_train.head()

   mean_mkt_carrier_delay  mean_op_carrier_delay  mean_route_delay
0                8.874947               6.733834         47.157895
1                5.933842               6.612603         10.090909
2                5.933842               4.264744          4.111111
3                8.699325               8.699325          6.785714
4                3.239038               3.239038         16.407407

In [50]:
df_numeric_test.head()

   mean_mkt_carrier_delay  mean_op_carrier_delay  mean_route_delay
0                2.089376               0.049376          9.125000
1                2.089376               0.049376          4.000000
2                3.239038               3.239038         -2.250000
3                3.239038               3.239038        -12.333333
4                5.933842               6.612603        -11.000000

In [51]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaled_data_train = pd.DataFrame(scaler.fit_transform(df_numeric_train), columns=df_numeric_train.columns)
scaled_data_train.head()

   mean_mkt_carrier_delay  mean_op_carrier_delay  mean_route_delay
0                1.354377               0.466790          2.866789
1                0.294843               0.431824          0.339269
2                0.294843              -0.245348         -0.068481
3                1.291110               1.033679          0.113895
4               -0.675961              -0.541184          0.769978

In [52]:
scaled_data_test = pd.DataFrame(scaler.transform(df_numeric_test), columns=df_numeric_test.columns)
scaled_data_test.head()

   mean_mkt_carrier_delay  mean_op_carrier_delay  mean_route_delay
0               -1.090127              -1.461150          0.273406
1               -1.090127              -1.461150         -0.076057
2               -0.675961              -0.541184         -0.502231
3               -0.675961              -0.541184         -1.189793
4                0.294843               0.431824         -1.098875

In [53]:
transformed_df_train = df_numeric_train.merge(df_dummy_train, left_index=True, right_index=True)
transformed_df_train = transformed_df_train.merge(df_flights_train[bool_feats_train], left_index=True, right_index=True)
transformed_df_train = transformed_df_train.merge(df_flights_train['arr_delay'], left_index=True, right_index=True)
transformed_df_train.head()

,mean_mkt_carrier_delay,mean_op_carrier_delay,mean_route_delay,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,...,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,is_weekend,is_holiday,arr_delay
0,8.874947,6.733834,47.157895,0,0,1,0,0,0,0,...,1,0,0,1,0,0,0,1,0,-3.0
1,5.933842,6.612603,10.090909,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,-7.0
2,5.933842,4.264744,4.111111,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,-20.0
3,8.699325,8.699325,6.785714,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,-28.0
4,3.239038,3.239038,16.407407,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,-24.0

In [54]:
transformed_df_test = df_numeric_test.merge(df_dummy_test, left_index=True, right_index=True)
transformed_df_test = transformed_df_test.merge(df_flights_test[bool_feats_test], left_index=True, right_index=True)
transformed_df_test = transformed_df_test.merge(df_flights_test['arr_delay'], left_index=True, right_index=True)
transformed_df_test.head()

,mean_mkt_carrier_delay,mean_op_carrier_delay,mean_route_delay,day_of_week_Friday,day_of_week_Monday,day_of_week_Saturday,day_of_week_Sunday,day_of_week_Thursday,day_of_week_Tuesday,day_of_week_Wednesday,...,origin_region_South,origin_region_West,dest_region_Midwest,dest_region_Northeast,dest_region_Other,dest_region_South,dest_region_West,is_weekend,is_holiday,arr_delay
0,2.089376,0.049376,9.125000,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,17.0
1,2.089376,0.049376,4.000000,0,0,1,0,0,0,0,...,1,0,1,0,0,0,0,1,0,-25.0
2,3.239038,3.239038,-2.250000,0,1,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,-10.0
3,3.239038,3.239038,-12.333333,1,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,-3.0
4,5.933842,6.612603,-11.000000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,69.0

In [ ]:
# transformed_df_train = df_dummy_train.merge(df_flights_train[['arr_delay',"is_weekend","is_holiday"]], left_index=True, right_index=True)
# transformed_df_test = df_dummy_test.merge(df_flights_test[['arr_delay',"is_weekend","is_holiday"]], left_index=True, right_index=True)

In [ ]:
# transformed_df_train.head()

In [ ]:
# transformed_df_test.head()

In [55]:
with open(r'..\..\data\v2\df_train_step3_subset3.pickle','wb') as flight_data_file:
     pickle.dump(transformed_df_train, flight_data_file)

In [56]:
with open(r'..\..\data\v2\df_test_step3_subset3.pickle','wb') as flight_data_file:
     pickle.dump(transformed_df_test, flight_data_file)